.pagination {
  display: flex;
  justify-content: center;
  column-gap: 2rem;

  @media (min-width: 48em) {
    display: none;
  }

  .swiper-pagination-bullet {
    flex: 0 0 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid $gray;
    border-radius: 50%;

    transition: border 0.3s ease, background-color 0.3s ease;

    &.swiper-pagination-bullet-active {
      border: 1px solid $blue;

      background-color: $blue;
    }
  }
}

.controls {
  display: flex;
  column-gap: 3rem;

  @media (max-width: 48em) {
    display: none;
  }

  // .controls__btn

  &__btn {
    // .controls__btn_prev

    &_prev {
      svg {
        transform: rotate(90deg);
      }
    }

    // .controls__btn_next

    &_next {
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}

.btn-controls {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 4.5rem;
  width: 4.5rem;
  height: 4.5rem;
  border: 1px solid $gray;
  border-radius: 50%;

  transition: border 0.3s ease, background-color 0.3s ease;

  @media (any-hover: hover) {
    &:hover {
      border: 1px solid $blue;

      background-color: $blue;

      svg {
        color: $white;
      }
    }
  }

  // .btn-controls__icon

  &__icon {
    height: 1.8rem;

    transform: translateY(-0.1rem);

    svg {
      width: 1.8rem;
      height: 1.8rem;

      transition: color 0.3s ease;
    }
  }
}
