.section {
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 10.6rem;

    @media (max-width: 48em) {
    }
  }
}

.section-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title-wrap {
  position: relative;

  padding-top: 5.2rem;

  // .title-wrap__title

  &__title {
    position: relative;
    z-index: 2;

    display: block;
  }

  // .title-wrap__svg

  &__svg {
    position: absolute;
    top: 0;
    left: -24rem;

    width: 49.1rem;

    overflow: hidden;

    @media (max-width: 48em) {
      left: -3rem;

      // clip-path: inset(1rem 23rem 0 0);
      clip-path: inset(0 4rem 0 0);
    }

    svg {
      width: 49.1rem;
      height: 12.6rem;

      color: $gray;
    }
  }
}
