.about-hero {
  padding: 5.5rem 0;
  padding-top: 4.8rem;
  margin-bottom: 0;

  &__breadcrumbs,
  &__title,
  &__txt,
  &__btn {
    ._js-allowed & {
      opacity: 0;
      transform: translateY(40%);
    }
  }

  @media (max-width: 48em) {
    padding: 8rem 0;
  }

  // .about-hero__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  // .about-hero__breadcrumbs

  &__breadcrumbs {
    margin-bottom: 2.9rem;

    @media (max-width: 48em) {
      margin-bottom: 4.8rem;
    }
  }

  // .about-hero__title

  &__title {
    margin-bottom: 4.8rem;

    @media (min-width: 48em) {
      margin-bottom: 3.2rem;

      max-width: 122.3rem;
    }
  }

  // .about-hero__txt

  &__txt {
    margin-bottom: 4.8rem;

    line-height: 159%;

    @media (max-width: 48em) {
      max-width: 66rem;

      font-size: 3.2rem;
      line-height: 5rem;
    }

    @media (min-width: 48em) {
      margin-bottom: 4rem;

      max-width: 72.6rem;
    }
  }

  // .about-hero__btn

  &__btn {
  }
}
