.advantages {
  margin-bottom: 17.5rem;

  @media (max-width: 48em) {
    margin-bottom: 14.5rem;
  }

  .section__container {
    row-gap: 10rem;

    @media (max-width: 48em) {
      row-gap: 5.5rem;
    }
  }

  .swiper {
    width: 100%;
    overflow: visible;
  }

  .swiper-slide {
    @media (max-width: 48em) {
      width: 44.6rem;
      height: auto;
    }
  }

  // .advantages__head

  &__head {
  }

  // .advantages__wrapper

  &__wrapper {
    @media (min-width: 48em) {
      &.swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        row-gap: 5rem;
      }
    }
  }

  // .advantages__item

  &__item {
  }
}

.item-advantages {
  @media (max-width: 48em) {
    padding-left: 0;
  }

  &.swiper-slide {
    min-height: 25rem;

    @media (max-width: 48em) {
      min-height: 35rem;
    }
  }

  &:nth-child(-n + 9) {
    .item-advantages__number {
      &::first-letter {
        color: $black;
      }
    }
  }

  &__title,
  &__text {
    @media (min-width: 48em) {
      max-width: 38.3rem;
    }
  }

  // .item-advantages__inner

  &__inner {
    position: relative;

    padding-left: 2.4rem;

    display: flex;
    flex-direction: column;
    height: 100%;

    --scaleY: 0;

    ._js-allowed & {
      opacity: 0;
    }

    &::after {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      width: 1px;
      height: 100%;

      background-color: $gray;

      ._js-allowed & {
        transform: scaleY(var(--scaleY));
      }

      ._js-allowed & {
        transform: none;
      }
    }

    @media (max-width: 48em) {
      padding-left: 3.2rem;
    }
  }

  // .item-advantages__title

  &__title {
    margin-bottom: 2.2rem;

    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 500;

    @media (max-width: 48em) {
      margin-bottom: 0;

      font-size: 3.2rem;
      line-height: 4rem;

      height: 100%;
    }
  }

  // .item-advantages__text

  &__text {
    margin-bottom: 6.3rem;

    flex: 1 1 auto;

    @media (max-width: 48em) {
      margin-bottom: 5rem;

      max-width: 41.4rem;
      height: 100%;

      font-size: 2.4rem;
      line-height: 3.2rem;
    }
  }

  // .item-advantages__number

  &__number {
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: $blue;

    @media (max-width: 48em) {
      font-size: 4.8rem;
      line-height: 5.6rem;
    }
  }
}
