.listing-chapter-hero {
  position: relative;

  margin-bottom: 8rem;

  --clx: clip-path: inset(0 100% 0 0);;

  @media (max-width: 48em) {
    margin-bottom: 6.4rem;
  }


    &::after {
      content: '';

      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0;

      width: 106.3rem;
      height: 32.4rem;

      background-color: $black;

      @media (max-width: 48em) {

        width: 71.8rem;
        height: 23rem;
      }
    }

  // .listing-chapter-hero__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .listing-chapter-hero__breadcrumbs

  &__breadcrumbs {
    padding: 5rem 0;

    @media (max-width: 48em) {
      padding: 4rem 0;
    }
  }

  // .listing-chapter-hero__body

  &__body {
    position: relative;

    padding-bottom: 3.6rem;

    display: flex;
    column-gap: 15.8rem;
    width: 100%;

    @media (max-width: 48em) {
      padding: 2.4rem;
      padding-top: 0;

      flex-direction: column;
    }

    @media (min-width: 48em) {
      &::before {
        content: '';

        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;

        width: 89.5rem;
        height: 12.6rem;

        background: url(@img/bg/vector2.svg) center / cover repeat;

        clip-path: var(--clx);
      }
    }

    &::after {
      content: '';

      position: absolute;
      top: 10.5rem;
      right: -15rem;

      width: 22rem;
      height: 12.6rem;

      background: url(@img/bg/vector2.svg) center / cover repeat;

      transform: rotate(90deg);

        clip-path: var(--clx);

      @media (max-width: 48em) {
        left: auto;
        right: -7rem;
        top: 23rem;

        height: 8rem;
      }
    }
  }

  // .listing-chapter-hero__title

  &__title {
    margin-bottom: 3.2rem;

    line-height: 100%;

    @media (min-width: 48em) {
      margin-bottom: 0;
      padding-top: 4.8rem;

      max-width: 49.5rem;
    }
  }

  // .listing-chapter-hero__image-wrap

  &__image-wrap {
    position: relative;
    z-index: 2;

    width: 52rem;
    height: 27.4rem;

    @media (min-width: 48em) {
      flex: 0 0 64.1rem;
      width: 64.1rem;
      height: 34rem;
    }

  }

  // .listing-chapter-hero__image

  &__image {

    height: 100%;

    object-fit: cover;
  }
}
