.other-services {
  margin-bottom: 0;

  @media (min-width: 48em) {
    margin-bottom: 11rem;
  }

  // .other-services__container

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 8rem;

    @media (max-width: 48em) {
      row-gap: 5rem;
    }
  }

  // .other-services__head

  &__head {
    @media (max-width: 48em) {
      justify-content: center;

      .title-wrap__svg {
        left: -21rem;
      }
    }
  }

  // .other-services__body

  &__body {
    position: relative;

    padding: 8rem 0;

    width: 100vw;

    background-color: $black;

    transform: translateX(calc((100vw - 144rem) / -2));

    @media (max-width: 48em) {
      padding: 4.8rem 3rem;

      transform: translateX(-3rem);
    }
  }

  // .other-services__list

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.2rem;

    @media (min-width: 48em) {
      margin: 0 auto;

      flex-direction: row;
      gap: 2.8rem;
      max-width: 132.5rem;
    }
  }

  // .other-services__item

  &__item {
    opacity: 0;

    @media (max-width: 48em) {
      align-self: center;
    }
  }

  // .other-services__inner

  &__inner {
    padding: 1.6rem 2.8rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20rem;

    font-weight: 500;
    line-height: 124%;
    text-align: center;
    text-transform: uppercase;

    background-color: $white;

    @media (max-width: 48em) {
      padding: 2.4rem 4rem;

      border-radius: 40rem;

      font-size: 3.2rem;
      line-height: 4rem;
    }
  }
}
