@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url(@fonts/Gilroy-Regular.woff);
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url(@fonts/Gilroy-Medium.woff);
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: url(@fonts/Gilroy-SemiBold.woff);
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url(@fonts/Gilroy-Bold.woff);
}
