// -------------------------------- variables -------------------------------

// colors
$black: #2d2d2d;
$white: #ffffff;
$blue: #008ab8;
$brightBlue: #099ed0;
$gray: #c4c4c4;

// ---------------------------------- fonts ---------------------------------

// local fonts
@import 'base/fonts';

// ------------------------------- base styles ------------------------------

// base scss file
@import 'base/set';

// --------------------------------------------------------------------------

// sections
